/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #F5A312;
  --ifm-color-primary-dark: #F3F1EC;
  --ifm-color-primary-darker: #111111;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #18B4C7;
  --ifm-color-primary-lighter: #FFECBB;
  --ifm-color-primary-lightest: #FBF9F6;
  --ifm-code-font-size: 95%;
  /* sidebar width - should later be made dynamic */
  --doc-sidebar-width: 350px !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FFB32C;
  --ifm-color-primary-dark: #2E2B3C;
  --ifm-color-primary-darker: #1C1B21;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #32C8DB;
  --ifm-color-primary-lighter: #7B7A80;
  --ifm-color-primary-lightest: #DDDCE4;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

h4 {
font-weight: bold;
font-size: 130%;
}
